/******************************************************************
Site Name: Urban Tactical Supplies
Author: Michael Varrieur

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 21, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 31, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
/* line 42, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
/* line 52, ../scss/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, ../scss/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 82, ../scss/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
/* line 90, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 102, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 112, ../scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
/* line 125, ../scss/_normalize.scss */
h1 {
  font-size: 2.5em;
}

/* line 129, ../scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 134, ../scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 139, ../scss/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 144, ../scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 149, ../scss/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
/* line 158, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
/* line 167, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 171, ../scss/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome.
 */
/* line 179, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9.
 */
/* line 187, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7.
 */
/* line 196, ../scss/_normalize.scss */
pre {
  margin: 1em 0;
}

/* line 199, ../scss/_normalize.scss */
p {
  margin: 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 211, ../scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 221, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
/* line 231, ../scss/_normalize.scss */
q {
  quotes: none;
}

/*
 * Addresses `quotes` property not supported in S4.
 */
/* line 240, ../scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 245, ../scss/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
/* line 255, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 262, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 266, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
/* line 281, ../scss/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 285, ../scss/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
/* line 295, ../scss/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
/* line 304, ../scss/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 319, ../scss/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9.
 */
/* line 328, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
/* line 340, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
/* line 352, ../scss/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
/* line 360, ../scss/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
/* line 372, ../scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 388, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
/* line 401, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
/* line 418, ../scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 429, ../scss/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
/* line 441, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
/* line 454, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
/* line 466, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+.
 */
/* line 475, ../scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 485, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 498, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
/* line 511, ../scss/_normalize.scss */
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 518, ../scss/_normalize.scss */
b, strong, .strong {
  font-weight: bold;
}

/* line 520, ../scss/_normalize.scss */
dfn, em, .em {
  font-style: italic;
}

/* line 522, ../scss/_normalize.scss */
small, .small {
  font-size: 75%;
}

/* line 524, ../scss/_normalize.scss */
ul, ol {
  padding: 0;
  list-style-type: none;
}

/* line 529, ../scss/_normalize.scss */
dd {
  margin: 0;
}

/* line 535, ../scss/_normalize.scss */
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}

/******************************************************************
Site Name: Urban Tactical Supplies
Author: Michael Varrieur

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* line 23, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 25, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 26, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 34, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 107, ../scss/_mixins.scss */
span.amp {
  font-family: Baskerville, "Goudy Old Style", Palatino, "Book Antiqua", serif !important;
  font-style: italic;
}

/* line 113, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 114, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 115, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 119, ../scss/_mixins.scss */
.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

/* line 125, ../scss/_mixins.scss */
.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

/* line 131, ../scss/_mixins.scss */
.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

/* line 137, ../scss/_mixins.scss */
.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

/* line 143, ../scss/_mixins.scss */
.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*
 *  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 *
 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont/fontawesome-webfont.eot?v=3.0.1");
  src: url("../fonts/fontawesome-webfont/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("../fonts/fontawesome-webfont/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("../fonts/fontawesome-webfont/fontawesome-webfont.ttf?v=3.0.1") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
/* line 43, ../scss/_fontawesome.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

/* more sprites.less reset */
/* line 75, ../scss/_fontawesome.scss */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}

/* line 80, ../scss/_fontawesome.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes sure icons active on rollover in links */
/* line 89, ../scss/_fontawesome.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
}

/* makes the font 33% larger relative to the icon container */
/* line 95, ../scss/_fontawesome.scss */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}

/* line 102, ../scss/_fontawesome.scss */
.btn [class^="icon-"],
.btn [class*=" icon-"], .nav [class^="icon-"],
.nav [class*=" icon-"] {
  display: inline;
  /* keeps button heights with and without icons the same */
}
/* line 105, ../scss/_fontawesome.scss */
.btn [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large, .nav [class^="icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em;
}
/* line 106, ../scss/_fontawesome.scss */
.btn [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}

/* line 112, ../scss/_fontawesome.scss */
.nav-tabs [class^="icon-"],
.nav-tabs [class*=" icon-"], .nav-pills [class^="icon-"],
.nav-pills [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
}
/* line 114, ../scss/_fontawesome.scss */
.nav-tabs [class^="icon-"], .nav-tabs [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"],
.nav-tabs [class*=" icon-"].icon-large, .nav-pills [class^="icon-"], .nav-pills [class^="icon-"].icon-large,
.nav-pills [class*=" icon-"],
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}

/* line 120, ../scss/_fontawesome.scss */
li [class^="icon-"],
li [class*=" icon-"], .nav li [class^="icon-"],
.nav li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* line 124, ../scss/_fontawesome.scss */
li [class^="icon-"].icon-large,
li [class*=" icon-"].icon-large, .nav li [class^="icon-"].icon-large,
.nav li [class*=" icon-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}

/* line 131, ../scss/_fontawesome.scss */
ul.icons {
  list-style-type: none;
  text-indent: -.75em;
}
/* line 137, ../scss/_fontawesome.scss */
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .75em;
}

/* line 143, ../scss/_fontawesome.scss */
.icon-muted {
  color: #eeeeee;
}

/* line 150, ../scss/_fontawesome.scss */
.icon-border {
  border: solid 1px #eeeeee;
  padding: 0.2em 0.25em 0.15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 159, ../scss/_fontawesome.scss */
.icon-2x {
  font-size: 2em;
}
/* line 161, ../scss/_fontawesome.scss */
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 166, ../scss/_fontawesome.scss */
.icon-3x {
  font-size: 3em;
}
/* line 168, ../scss/_fontawesome.scss */
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 173, ../scss/_fontawesome.scss */
.icon-4x {
  font-size: 4em;
}
/* line 175, ../scss/_fontawesome.scss */
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 185, ../scss/_fontawesome.scss */
.pull-right {
  float: right;
}

/* line 186, ../scss/_fontawesome.scss */
.pull-left {
  float: left;
}

/* line 190, ../scss/_fontawesome.scss */
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}
/* line 193, ../scss/_fontawesome.scss */
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}

/* line 202, ../scss/_fontawesome.scss */
.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em;
}
/* line 204, ../scss/_fontawesome.scss */
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}

/* line 212, ../scss/_fontawesome.scss */
.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em;
}

/* line 219, ../scss/_fontawesome.scss */
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
/* line 222, ../scss/_fontawesome.scss */
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em;
}
/* line 224, ../scss/_fontawesome.scss */
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em;
}
/* line 225, ../scss/_fontawesome.scss */
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em;
}

/* line 230, ../scss/_fontawesome.scss */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  /* line 239, ../scss/_fontawesome.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 240, ../scss/_fontawesome.scss */
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  /* line 243, ../scss/_fontawesome.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 244, ../scss/_fontawesome.scss */
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  /* line 247, ../scss/_fontawesome.scss */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 248, ../scss/_fontawesome.scss */
  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  /* line 251, ../scss/_fontawesome.scss */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 252, ../scss/_fontawesome.scss */
  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  /* line 255, ../scss/_fontawesome.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 256, ../scss/_fontawesome.scss */
  100% {
    transform: rotate(359deg);
  }
}

@-moz-document url-prefix() {
  /* line 260, ../scss/_fontawesome.scss */
  .icon-spin {
    height: .9em;
  }

  /* line 261, ../scss/_fontawesome.scss */
  .btn .icon-spin {
    height: auto;
  }

  /* line 262, ../scss/_fontawesome.scss */
  .icon-spin.icon-large {
    height: 1.25em;
  }

  /* line 263, ../scss/_fontawesome.scss */
  .btn .icon-spin.icon-large {
    height: .75em;
  }
}

/* line 264, ../scss/_fontawesome.scss */
.icon-facebook-sign:before {
  content: "\f021";
}

/* line 265, ../scss/_fontawesome.scss */
.icon-facebook:before {
  content: "\f022";
}

/* line 10, ../../../../../../../../../Users/Mike/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../../Users/Mike/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.wrapper {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -80px;
}
/* line 18, ../../../../../../../../../Users/Mike/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.wrapper .push {
  height: 80px;
}

/* line 20, ../../../../../../../../../Users/Mike/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
.footer {
  clear: both;
  position: relative;
  height: 80px;
}

/* line 49, ../scss/style.scss */
html, body {
  min-width: 960px;
  height: 100%;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 200;
}

/* line 58, ../scss/style.scss */
a {
  color: #7f6f54;
  text-decoration: none;
}
/* line 62, ../scss/style.scss */
a:hover {
  color: #bfa67e;
  text-decoration: underline;
}

/* line 68, ../scss/style.scss */
h1, h2, h3 {
  margin: 0 0 10px 0;
  font-weight: 400;
}

/* line 73, ../scss/style.scss */
p {
  margin: 0.625em 0;
}

/* line 77, ../scss/style.scss */
.dash-separator {
  color: #ffdda8;
}

/* line 81, ../scss/style.scss */
.header {
  height: 9.4375em;
  background-color: #000000;
  border-bottom: 1px solid #7f6f54;
}
/* line 86, ../scss/style.scss */
.header .header-info {
  font-size: 0.8125em;
  line-height: 1em;
}
/* line 90, ../scss/style.scss */
.header .header-info p {
  margin: 0;
}
/* line 95, ../scss/style.scss */
.header .header-facebook {
  font-size: 0.75em;
  line-height: 1em;
  margin: 0.625em 0;
}
/* line 101, ../scss/style.scss */
.header #inner-header {
  position: relative;
}
/* line 105, ../scss/style.scss */
.header .header-right {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 0.625em;
  text-align: right;
  color: #ffffff;
}
/* line 114, ../scss/style.scss */
.header .header-right a:hover {
  text-decoration: none;
}

/* line 120, ../scss/style.scss */
ul.nav {
  list-style: none;
  margin: 0.625em 0 0 0;
}
/* line 124, ../scss/style.scss */
ul.nav li {
  float: left;
  font-size: 1.25em;
  font-weight: 400;
}
/* line 129, ../scss/style.scss */
ul.nav li:last-child > a .nav-divider {
  display: none;
}
/* line 134, ../scss/style.scss */
ul.nav li > a:hover {
  text-decoration: none;
}
/* line 138, ../scss/style.scss */
ul.nav li > a .nav-divider {
  padding: 0 0.1875em 0 0.1875em;
  color: #ffdda8;
}

/* line 147, ../scss/style.scss */
.footer {
  background-color: #000000;
  color: #ffffff;
  font-size: 0.8125em;
  line-height: 1em;
  border-top: 1px solid #7f6f54;
}
/* line 154, ../scss/style.scss */
.footer #inner-footer {
  padding-top: 0.96875em;
}
/* line 158, ../scss/style.scss */
.footer p {
  margin: 0;
}
/* line 162, ../scss/style.scss */
.footer .contact-info {
  float: left;
}

/* line 167, ../scss/style.scss */
.footer-social {
  height: 100%;
  float: right;
  font-size: 2.375em;
}

/* line 173, ../scss/style.scss */
#container.wrapper {
  background: url('../images/background-updated.png?1361491410') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 178, ../scss/style.scss */
#inner-header, .content-container, #inner-footer {
  width: 960px;
  margin: 0 auto;
}

/* line 182, ../scss/style.scss */
.content-container {
  background-color: #ffffff;
  padding: 0.625em 0;
}

/* line 1, ../scss/_home.scss */
.flexslider {
  padding: 0 0.625em;
}

/* line 6, ../scss/_home.scss */
.homepage-featured-panes a {
  float: left;
  padding: 0.625em;
}

/* line 12, ../scss/_home.scss */
.homepage-affiliates {
  text-align: center;
}
/* line 15, ../scss/_home.scss */
.homepage-affiliates .affiliate {
  float: left;
  padding: 0.625em;
}

/* line 1, ../scss/_about.scss */
.about-details {
  padding: 0 0.625em;
  float: left;
  width: 40em;
}

/* line 7, ../scss/_about.scss */
.about-image {
  float: left;
  width: 20em;
  padding: 0 0.625em;
}

/* line 13, ../scss/_about.scss */
.about-panorama {
  padding: 1.25em 0.625em 0 0.625em;
  width: 100%;
  clear: both;
}

/* line 1, ../scss/_services.scss */
.services-pane {
  width: 20em;
  margin-top: 0.625em;
  float: left;
}
/* line 6, ../scss/_services.scss */
.services-pane ul {
  list-style-type: disc;
  list-style-position: inside;
}

/* line 13, ../scss/_services.scss */
#services-content > div, #services-content h1 {
  padding: 0 10px;
}

/* line 1, ../scss/_contact.scss */
.contact-details {
  padding: 0 0.625em;
  float: left;
  width: 20em;
}
/* line 7, ../scss/_contact.scss */
.contact-details .employee {
  padding: 0.625em 0;
  border-top: 1px dashed #7f6f54;
}
/* line 11, ../scss/_contact.scss */
.contact-details .employee:first-child {
  border-top: none;
  padding-top: 0;
}
/* line 16, ../scss/_contact.scss */
.contact-details .employee p {
  margin: 0;
}
/* line 19, ../scss/_contact.scss */
.contact-details .employee p.name {
  font-size: 2em;
}
/* line 23, ../scss/_contact.scss */
.contact-details .employee p.title {
  font-style: italic;
}

/* line 30, ../scss/_contact.scss */
.facebook-inset {
  height: 4.6875em;
  text-align: center;
  background-color: #5f5647;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-top: 0.625em;
}
/* line 37, ../scss/_contact.scss */
.facebook-inset a {
  color: #bfa67e;
}
/* line 39, ../scss/_contact.scss */
.facebook-inset a:hover {
  color: #7f6f54;
  text-decoration: none;
}
/* line 45, ../scss/_contact.scss */
.facebook-inset span {
  font-size: 1.5em;
  display: block;
  margin: 0;
  line-height: 3.125em;
}
/* line 51, ../scss/_contact.scss */
.facebook-inset span .icon-facebook-sign {
  vertical-align: middle;
  font-size: 2em;
}

/* line 58, ../scss/_contact.scss */
.contact-map-container {
  padding: 0 0.625em;
  float: left;
  width: 40em;
}
/* line 63, ../scss/_contact.scss */
.contact-map-container .phone {
  font-size: 4em;
  font-weight: 200;
  text-shadow: 1px 1px 1px #7f6f54;
  margin: 0;
}
/* line 70, ../scss/_contact.scss */
.contact-map-container .address {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: 200;
}

/* line 77, ../scss/_contact.scss */
.contact-map-wrap {
  height: 25em;
}
/* line 80, ../scss/_contact.scss */
.contact-map-wrap #contact-map {
  width: 100%;
  height: 100%;
}

/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
/* line 17, ../scss/_flexslider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 20, ../scss/_flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 24, ../scss/_flexslider.scss */
.flexslider {
  margin: 0;
}

/* line 25, ../scss/_flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 26, ../scss/_flexslider.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 27, ../scss/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 30, ../scss/_flexslider.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 31, ../scss/_flexslider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 32, ../scss/_flexslider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 37, ../scss/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
/* line 42, ../scss/_flexslider.scss */
.flexslider {
  margin: 0 0 10px;
  background: #fff;
  position: relative;
  zoom: 1;
}

/* line 43, ../scss/_flexslider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 44, ../scss/_flexslider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 45, ../scss/_flexslider.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 47, ../scss/_flexslider.scss */
.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
/* line 51, ../scss/_flexslider.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 52, ../scss/_flexslider.scss */
.flex-direction-nav a {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  display: block;
  background: url('../images/flexslider/bg_direction_nav.png?1360909446') no-repeat 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
}

/* line 53, ../scss/_flexslider.scss */
.flex-direction-nav .flex-next {
  background-position: 100% 0;
  right: -36px;
}

/* line 54, ../scss/_flexslider.scss */
.flex-direction-nav .flex-prev {
  left: -36px;
}

/* line 55, ../scss/_flexslider.scss */
.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 15px;
}

/* line 56, ../scss/_flexslider.scss */
.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 15px;
}

/* line 57, ../scss/_flexslider.scss */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

/* line 58, ../scss/_flexslider.scss */
.flex-direction-nav .flex-disabled {
  opacity: .3!important;
  filter: alpha(opacity=30);
  cursor: default;
}

/* Control Nav */
/* line 61, ../scss/_flexslider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 0.1875em;
  text-align: left;
}

/* line 62, ../scss/_flexslider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 63, ../scss/_flexslider.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

/* line 64, ../scss/_flexslider.scss */
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

/* line 65, ../scss/_flexslider.scss */
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

/* line 67, ../scss/_flexslider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

/* line 68, ../scss/_flexslider.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

/* line 69, ../scss/_flexslider.scss */
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

/* line 70, ../scss/_flexslider.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}

/* line 71, ../scss/_flexslider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  /* line 74, ../scss/_flexslider.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0;
  }

  /* line 75, ../scss/_flexslider.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0;
  }
}
